body {
    font-family: 'Arial', sans-serif;
    background-image: url('fundo_rock.jpg'); /* Imagem de fundo */
    background-size: cover;
    background-position: center;
    color: rgb(255, 117, 117); /* Cor do texto */
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    font-size: 2.5em; /* Tamanho do título reduzido */
    margin-bottom: 20px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Sombra no texto */
}

form {
    background: rgba(0, 0, 0, 0.8); /* Fundo semi-transparente para o formulário */
    padding: 15px; /* Preenchimento reduzido */
    border-radius: 10px;
    max-width: 350px; /* Largura máxima do formulário reduzida */
    margin: 0 auto; /* Centraliza o formulário */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); /* Sombra ao redor do formulário */
}

label {
    display: block;
    margin-bottom: 8px; /* Margem reduzida */
    font-size: 1.1em; /* Tamanho da fonte do rótulo ajustado */
}

input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 8px; /* Preenchimento reduzido */
    margin-bottom: 10px; /* Margem reduzida */
    border: none;
    border-radius: 5px;
    font-size: 1em;
}

input[type="submit"] {
    background-color: #8b2727; /* Cor do botão */
    color: white;
    border: none;
    padding: 12px; /* Preenchimento do botão ajustado */
    border-radius: 5px;
    font-size: 1.1em; /* Tamanho da fonte do botão ajustado */
    cursor: pointer;
    transition: background-color 0.3s; /* Transição suave para a cor do botão */
}

input[type="submit"]:hover {
    background-color: #5b1a1a; /* Cor do botão ao passar o mouse */
}

h2 {
    text-align: center;
    margin-top: 20px;
    font-size: 1.8em; /* Tamanho da fonte da mensagem de resultado aumentado */
    font-weight: bold; /* Deixa a fonte em negrito */
    font-family: 'Verdana', sans-serif; /* Fonte mais legível */
    background: rgba(0, 0, 0, 0.7); /* Fundo semi-transparente para destacar a mensagem */
    padding: 10px; /* Preenchimento para a mensagem */
    border-radius: 5px; /* Bordas arredondadas para a mensagem */
}